<article{{ attributes }} class="product">
    <hgroup>
        <h2>{{ name }}</h2>
        <h3>{{ category }}</h3>
    </hgroup>
    <kbd>{{ price }} €</kbd>
    <blockquote>
        <p>{{ description }}</p>
    </blockquote>
</article>
